/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #35424a;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

nav ul {
    list-style: none;
    background-color: #35424a;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    margin-top: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #8c8c8c;
}

main {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #35424a;
    color: white;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px auto;
    }
}
